@charset "UTF-8";
* {
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
}

:root {
  --dark: #292c35;
  --light: #f1f1f1;
  --label: #111;
}

main {
  background-color: palevioletred;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  transition: all 1s ease-out;
}

div {
  display: flex;
  align-items: center;
  background-color: var(--label);
  border-radius: 3.68rem;
  padding: 10px;
}

img,
input {
  display: flex;
  width: 4rem;
  height: 4rem;
  margin-left: 20px;
  margin-right: 20px;
}

.hidden {
  display: none;
}

#black {
  background-color: var(--dark);
}
#white {
  background-color: var(--light);
}
